.nav
  %form{ :action => "/upload_dialogue", :method => "get" }
    %button{:type => 'submit', :class => 'btn'} Upload
.restable
  %table
    %thead
      %tr
        %th Test
        %th Timeseries
        / %th Compressed size
    %tbody
      - @result.each do |dir,files|
        - files.each_with_index do |file,index|
          %tr
            %td
              - if index == 0
                %span= dir
            %td
              %a{ :href => "/chart/#{dir}:#{file}" }= file
              / %a{ :href => "/chart/#{i[0]}:#{i[1]}" }= i[1]